.images {
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

#img-type {
    height: 250px;
    width: 260px;
}

#kittens {
    height: 260px;
}

#house {
    height: 375px;
}

#vivo83 {
    height: 260px;
}

#lady {
    height: 260px;
}
